body{
    padding: 2%;
    background-color: blanchedalmond;
    border: 0ch;
    font-size: large;
    margin: 0%;
}
p{
    display: block;
    float: left;
}
a{
    text-align: center;
}
div{
    width: auto;
    height: auto;
}
